[submodule "cache/wikipathways_github/wikipathways-assets"]
	path = cache/wikipathways_github/wikipathways-assets
	url = https://github.com/wikipathways/wikipathways-assets.git
[submodule "cache/wikipathways_github/wikipathways-database"]
	path = cache/wikipathways_github/wikipathways-database
	url = https://github.com/wikipathways/wikipathways-database.git
